@keyframes animated-border {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.589);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

#versed:hover {
    box-shadow: 0 0 6px 6px rgba(114, 215, 255, 0.5);
    animation: animated-border 2s infinite;
}

.margin {
    margin-top: 100px !important;
}