.margin {
    margin-top: 10px;
    margin-bottom: 100px;
}

h2 {
    color: rgb(0, 27, 75);
    font-family: 'Roboto Mono', monospace;
}

div.bg-color {
    padding: 25px 10px 25px 10px;
}

@media screen and (max-width: 1020px) {

    #Contact { 
        margin-top: 30px !important;
    }
  
  }
  
  
  @media screen and (max-width: 635px) {
    #Contact {

    }
    p {
      text-align: center;
    }
  }