.margin {
    margin-top: 1rem;
    margin-bottom: 2.25rem;
}

h2 {
    color: rgb(0, 27, 75);
    font-family: 'Roboto Mono', monospace;
}

div.bg-color {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

@media screen and (max-width: 1020px) {

    #Contact { 
        margin-top: 1.9rem !important;
    }
  
  }
  
  
  @media screen and (max-width: 635px) {
    p {
      text-align: center;
    }
  }