.foot {
    display: flex; 
    align-items: center; 
    justify-content: left; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 1020px) {
    .foot{
    display: none;
    }
}

@media screen and (max-height: 900px) {
    .foot{
        display: none;
    }   
}