@media all and (max-device-width: 400px) {
    .navigation {
        position: fixed;
        width: 80%;
        top: 0px;
        z-index: 9;
        font-size: 20px;
        padding-left: 10px;
        padding-bottom: 8px;
        padding-top: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    body {
        background-color: black;
        width: fit-content;
    }

    .topnav {display: none;}
}