
.navigation a {
    color:rgb(206, 206, 206);
    font-size: 40px;
    text-decoration: none;
    text-shadow: 2px 2px 5px #90e0ef;
    font-family: 'Big Shoulders Stencil Text', cursive;
    padding: 15px;
}

.link:visited {
    color:rgb(206, 206, 206);
    text-shadow: #1dcaff;
}

.link:active {
    color:rgb(206, 206, 206);
    text-shadow: #7a1212;
}

.link:hover, .link:focus {
    animation-name: buzz;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    color: #1dcaff;
    text-shadow: 2px 2px 6px rgb(207, 111, 0);
}
.navbar {
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

ul.nav-menu {
    padding: 0px;
    margin: auto;
}


.fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: flex;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: fit-content;
    justify-content: start;
}

.nav-item {
    display: flex;
    justify-content: space-around; 
}

.fa-bars {
    color: rgb(0, 225, 255);
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}


@keyframes buzz {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@media screen and (max-width: 1020px) {

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: .9;
        transition: all 0.5s ease;
    }
    
    .nav-menu.active {
        background: #000000;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    .nav-links:hover {
        background-color: #2e2e2e;
        border-radius: 10;
    }
    
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    .fa-times {
        color: rgb(0, 217, 255);
        font-size: 2rem;
    }
    
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #000000;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    
    .nav-links-mobile:hover {
        background: #fff;
        color: #6999c3;
        transition: 250ms;
    }
    
    button {
        display: none;
    }

    body {
        background-color: black;
        width: fit-content;
    }

    footer {
        align-items: left; 
        justify-content: left;
    }
}