
form {
    padding: 20px;
    width:45% !important;
}

.neumorphic {
    box-shadow: none ;
    background-color: rgba(255, 255, 255, 0.376) !important;
    border-color: #ccc;
    color: rgb(0, 27, 75) !important;
    border-style: none none solid none;
    transition: all 1s;
    padding: 5px;
}

.neumorphic::placeholder{
    color: transparent;
}

.neumorphic:valid {
    background-color: none;
}

.neumorphic:focus {
    box-shadow: none;
    outline: none;
    border-color: rgb(0, 174, 255);
    background-color: transparent;
}

input:-webkit-autofill {
    background: transparent !important;
}

#submit:hover {
    background-color: rgb(57, 117, 97);
}

.group{
    transition: all .8s;
}

.form-label{
    display: block;
    opacity: 1;
    transform-origin: 0 0;
    color: grey;
    transition: all .3s;
}

.form-control:valid {
    background-color: none;
}


@media screen and (max-width: 1020px) {
    
    .margin {
        margin: auto;
        margin-bottom: 60px;
    }

}